/* Fonts */
@font-face {
    font-family: 'Readex Pro';
    src: url('../fonts/readexpro-regular.eot');
    src: url('../fonts/readexpro-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/readexpro-regular.woff2') format('woff2'),
         url('../fonts/readexpro-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Rubik';
    src: url('../fonts/rubik-regular.eot');
    src: url('../fonts/rubik-regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/rubik-regular.woff2') format('woff2'),
        url('../fonts/rubik-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Rubik';
    src: url('../fonts/rubik-medium.eot');
    src: url('../fonts/rubik-medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/rubik-medium.woff2') format('woff2'),
        url('../fonts/rubik-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-regular.eot');
    src: url('../fonts/roboto-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-regular.woff2') format('woff2'),
         url('../fonts/roboto-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

:root {
    --green-1: #37594E;
    --green-2: #5B8B7C;
    --green-3: #C3CDCA;
    --celadon-1: #D8ECB7;
    --celadon-2: #BDD98F;
    --orange-1: #844322;
    --orange-2: #EAA581;
    --orange-3: #F6DCCE;
    --yellow-1: #F9F8E0;
    --pink-1: #A52149;
    --pink-2: #D83A6A;
    --pink-3: #EB99B2;
    --pink-4: #F9D5E0;
    --blue-1: #475996;
    --blue-2: #76AAEB;
    --turquise-1: #0E76A8;
    --white: #FFFFFF;
    --gray-1: #3E4442;
    --gray-2: #767272;
    --gray-3: #A3A0A0;

    /* Box shadow */
    --box-shadow-green: 0px 20px 40px rgba(55, 89, 78, 0.2);
    --box-shadow-orange: 0px 20px 40px rgba(203, 111, 65, 0.2);
    --box-shadow-pink: 0px 20px 40px rgba(216, 58, 106, 0.2);
    --box-shadow-celadon: 0px 20px 40px rgba(216, 236, 183, 0.4);

    /* Space */
    --space-scale-ratio: 1;
    --space: calc(3rem * var(--space-scale-ratio));

    --space-0_25: calc(0.25 * var(--space));
    --space-0_5: calc(0.5 * var(--space));
    --space-0_75: calc(0.75 * var(--space));
    --space-1: var(--space);
    --space-1_5: calc(1.5 * var(--space));
    --space-2: calc(2 * var(--space));
    --space-2_5: calc(2.5 * var(--space));
    --space-3: calc(3 * var(--space));
    --space-3_5: calc(3.5 * var(--space));
    --space-4: calc(4 * var(--space));
}

/* Base style */
html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html, body {
    overflow-x: hidden;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    background-color: var(--white);
    line-height: 1.5;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--green-1);
}
a:focus,
button:focus,
.btn:focus,
input:focus,
select:focus,
textarea:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
    outline: #000 dotted 3px;
    outline-offset: .1rem;
}
img {
    width: 100%;
}
.container {
    width: 100%;
    max-width: 1420px;
    margin: 0 auto;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}
@media screen and (min-width: 1000px) {
    .container {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
}