:root {
    /* 
    --fs-xsm: 14.4px
    --fs-sm: 16px
    --fs: 18px
    --fs-md: 20px
    --fs-lg: 24px
    --fs-xlg: 29.6px
    --fs-xxlg: 32px
    --fs-display-1: 40px
    --fs-display-2: 48px
    --fs-display-3: 64px
    */

    --fs-xsm: 0.9rem;
    --fs-sm: 1rem;
    --fs: 1.125rem;
    --fs-md: 1.25rem;
    --fs-lg: 1.5rem;
    --fs-xlg: 1.85rem;
    --fs-xxlg: 2rem;
    --fs-display-1: 2.5rem;
    --fs-display-2: 3rem;
    --fs-display-3: 4rem;
}


@media screen and (min-width: 800px){
    h1 {
        font-size: 40px;
    }
}
@media screen and (min-width: 1000px) {
    h3 {
        font-size: 40px;
    }
}
@media screen and (min-width: 1300px) {
    h1 {
        font-size: 46px;
    }
    h2 {
        font-size: 40px;
    }

h1 {
    font-size: var(--fs-xxlg)
}
h2 {
    font-size: 32px;
}
h3 {
    font-size: 30px;
}
h4 {
    font-size: 24px;
}
.subtitle {
    font-size: 16px;
}
.text-small {
    font-size: 16px;
}
.lead,
.lead-align-left {
    font-size: 18px;
}
.lead-align-left {
    font-size: 16px;
}
.features__box-title{
    font-size: 20px;
}
.user-name {
    font-size: 20px;
}
.user-role {
    font-size: 16px;
}
.price__switch span{
    font-size: 20px;
}
.price__table-title {
    font-size: 24px;
}
.price__table-premium-price {
    font-size: 70px;
}
.price__table-free-price {
    font-size: 48px;
}
.counter,
.counter + span{
    font-size: 38px;
}
.fun-facts__number > span {
    font-size: 18px;
}
}

h1,
h2,
h3,
h4 {
    font-family: var(--ff-rubik);
    font-weight: var(--fw-400);
    margin-left: auto;
    margin-right: auto;
}



h1,
h2 {
    font-size: var(--fs-xxlg);
}
h3 {
    font-size: var(--fs-xlg);
}
h4,
.box__text-title {
    font-size: var(--fs-lg);
}
.lead {
    font-size: var(--fs);
}
.lead-list {
    font-size: var(--fs-md);
}
.subtitle,
.text-small,
.lead-align-left {
    font-size: var(--fs-sm);
}

@media screen and (min-width: 800px){
    h1 {
        font-size: var(--fs-display-1);
    }
}
@media screen and (min-width: 1000px) {
    h3 {
        font-size: var(--fs-display-1);
    }
}
@media screen and (min-width: 1300px) {
    h1 {
        font-size: var(--fs-display-2);
    }
    h2 {
        font-size: var(--fs-display-1);
    }
    .subtitle {
        font-size: var(--fs-md);
    }
}