/* Header */
.header {
    z-index: 100;
    position: fixed;
    width: 100%;
    top: 72px;
    height: 50px;
    display: flex;
    justify-content: center;

    padding: 0 30px;

    display: none;
}
.header.scrolled {
    top: 0;
    height: 120px;
    background-color: var(--white);
    /* box-shadow: var(--box-shadow); */
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1720px;
}
.header__right {
    display: flex;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
/* Logo */
.logo {
    font-family: var(--ff-readex);
    /* desktop */
    font-size: 40px;

    font-size: 28px;
    transform: translateY(-6px);
}
/* Navigation */
.nav {
    display: flex;
    align-items: center;
}
.nav-link {
    font-family: var(--ff-rubik);
    font-weight: 400;
    font-size: 20px;
    margin-left: 28px;
}

/* Hero */
.hero {
    height: 840px;
    padding-top: var(--space-2_5);
    background: url('../images/hero-background.png') no-repeat center center / cover;
    background-color: var(--celadon-1);
}
.hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.hero__buttons img{
    width: 24px;
    margin-right: 22px;
}
.hero__image {
    transform: translateY(40px);
}
.hero__image img {
    width: 100%;
    max-height: 450px;
}
.hero__image img:nth-child(2) {
    display: none;
}
@media screen and (min-width: 1000px) {
    .hero {
        height: 100%;
    }
    .hero .container {
        flex-direction: row;
        justify-content: center;
    }
    .hero__title {
        width: 50%;
    }
    .hero__buttons {
        flex-direction: row;
    }
    .hero__image img:first-child {
        display: none;
        }
    .hero__image img:nth-child(2) {
        display: block;
        }
    .hero__image {
        width: 50%;
        transform: translateY(120px);
    }
    .hero__image img {
        max-height: 850px;
    }
}

/* Boxes */
.boxes {
    padding-top: var(--space-2_5);
}
.boxes .container {
    padding-bottom: var(--space-1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border-bottom: 1px solid var(--green-3);
}
.boxes h4 {
    margin-bottom: 1rem;
}
.box {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    max-width: 500px;
    margin-bottom: var(--space-1);
}
.box__icon {
    border: 2px solid;
    border-radius: 8px;
    padding: 14px;
}
.box__icon.mobile {
    border-color: var(--orange-3);
}
.box__icon.megaphone {
    border-color: var(--green-3);
}
.box__icon.bell {
    border-color: var(--pink-3);
}
.box__icon img {
    width: 44px;
    height: 44px;
}
@media screen and (min-width: 1000px) {
    .boxes {
        padding-top: var(--space-3_5);
    }
    .boxes .container {
        flex-direction: row;
        align-items: flex-start;
        gap: 30px;
        padding-bottom: var(--space-2);
    }
}

/* Advertisement */
.advertisement {
    margin-top: var(--space-2);
    /* !!!!!!!!!!! */
    padding-bottom: var(--space-2);
    background: url('../images/advertisement-background.svg') no-repeat;
    /* background-size: 50%; */
}
.advertisement .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.advertisement__images {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: var(--space-2);
}
.advertisement__images img {
    box-shadow: var(--box-shadow-orange);
}
.advertisement__images-left, .advertisement__images-right {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.advertisement__description {
    text-align: center;
    max-width: 700px;
}
.advertisement__description .lead{
    margin-top: var(--space-0_75);
    margin-bottom: var(--space-0_75);
}
.advertisement img {
    width: 330px;
}
@media screen and (min-width: 800px) {
    .advertisement__images {
        flex-direction: row;
        align-items: center;
    }
}
@media screen and (min-width: 1300px) {
    .advertisement .container {
        flex-direction: row;
        gap: 4rem;
    }
    .advertisement__description {
        text-align: left;
    }
    .advertisement__description-text {
        margin-top: var(--space-1_5);
        margin-bottom: var(--space-1_5);
    }
    .advertisement__description .lead{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .advertisement__images {
        margin-bottom: 0;
    }
}

/* Screenshots */
.screenshots {
    background: url('../images/screenshots-background.svg') no-repeat bottom / cover;
    padding-top: var(--space-2);
    padding-bottom: var(--space-2);
}
.screenshots h2{
    /* text-align: center; */
    max-width: 400px;
    margin: 0 auto;
    padding-left: .4rem;
    padding-right: .4rem;
    margin-bottom: var(--space-1);
}
.screenshots img{
    box-shadow: var(--box-shadow-orange);
}
@media screen and (min-width: 1000px) {
    .screenshots h2{
        max-width: 500px;
    }
    #screenshots .splide__list {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .splide__slide {
        margin-right: 2rem;
    }
}

/* Features */
.features {
    padding-top: var(--space-2);
    padding-bottom: var(--space-2);
    /* !!!!!!!!!! */
    background: url('../images/features-background.svg') no-repeat right;
}
.features .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.features__description {
    text-align: center;
    /* background: cyan; */
    max-width: 700px;
    /* margin-bottom: var(--space-1_5); */
}
.features__description .lead {
    margin-top: var(--space-0_75);
    margin-bottom: var(--space-0_75);
}
.features__images {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.features__images img {
    box-shadow: var(--box-shadow-green);
    width: 330px;
}
.features__images-left, .features__images-right {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
@media screen and (min-width: 800px) {
    .features__images {
        flex-direction: row;
    }
    .features__images-left {
        transform: translateY(50px);
    }
}
@media screen and (min-width: 1300px) {
    .features {
        text-align: left;
    }
    .features .container {
        flex-direction: row;
        gap: 2rem;
    }
    .features__description {
        text-align: left;
    }
}

/* Testimonials */
.testimonials {
    background: url('../images/testimionals-background.svg') no-repeat center / cover;
    padding-top: var(--space-1_5);
    padding-bottom: var(--space-1_5);
}
.testimonials h2 {
    margin-bottom: 2rem;
}
.grid {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 2rem;
}
.testimonials__description {
    text-align: center;
    margin: 0 auto;
    margin-bottom: var(--space-1);
}
.testimonials img {
    box-shadow: var(--box-shadow-pink);
    max-width: 330px;
    margin-bottom: 1rem;
}
.testimonials__column-1,
.testimonials__column-2,
.testimonials__column-3,
.testimonials__column-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
@media screen and (min-width: 800px) {
    .testimonials__description {
        max-width: 700px;
    }
    .testimonials__column-1,
    .testimonials__column-2,
    .testimonials__column-3,
    .testimonials__column-4 {
        flex-direction: row;
        gap: 1rem;
    }
}
@media screen and (min-width: 1300px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }
    .testimonials__description {
        margin-left: var(--space-1_5);
        text-align: left;
        grid-column: 3 / span 2;
    }
    .testimonials__column-1,
    .testimonials__column-2,
    .testimonials__column-3,
    .testimonials__column-4 {
        flex-direction: column;
    }
    .testimonials__column-1 {
        transform: translateY(-150px);
    }
    .testimonials__column-2 {
        transform: translateY(-75px);
    }
}

/* Price */
.price {
    padding-top: var(--space-1_5);
    padding-bottom: var(--space-1_5);
    background: url('../images/price-background.svg') no-repeat right;
}
.price .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.price__description {
    text-align: center;
    margin-bottom: var(--space-1_5);
    max-width: 700px;
}
.price__description h2{
    margin-bottom: var(--space-1);
}
.price__switch {
    margin-top: var(--space-1);
}
.price__switch span{
    font-family: var(--ff-rubik);
    font-size: 20px;
    color: var(--gray-1);
}
.price__switch span::selection {
    background-color: none;
}
label {
    cursor: pointer;
    position: relative;
    margin-top: var(--space-1);
}
.price-switch-checkbox{
    position: relative;
    margin: 0 4rem;
    visibility: hidden;
}
.price-switch-checkbox + span::before {
    content: '';
    position: absolute;
    top: -16px;
    left: 50%;
    transform: translateX(-40%);
    width: 88px;
    height: 48px;
    background-color: var(--celadon-1);
    border-radius: 60px;
    transition: all 0.2s ease;
}
.price-switch-checkbox:checked + span:before {
    background-color: var(--celadon-2);
}
.price-switch-checkbox + span::after {
    content: '';
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translate(-75%);
    width: 40px;
    height: 40px;
    background-color: var(--white);
    border-radius: 50%;
    transition: all 0.2s ease;
}
.price-switch-checkbox:checked + span:after {
    transform: translateX(20%);
}
.price__table {
    font-family: var(--ff-rubik);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    margin: 0 auto;
    margin-bottom: var(--space-1);
    padding-top: var(--space-1);
    padding-bottom: var(--space-1);
    box-shadow: var(--box-shadow-orange);
    text-align: center;
    background-color: var(--white);
}
.price__table-title {
    font-size: 24px;
    color: var(--gray-1);
}
.price__table-price {
    font-weight: var(--fw-500);
    margin-bottom: var(--space-0_25);
}
.price__table-premium-price {
    font-size: 70px;
    color: var(--orange-2)
}
.price__table-free-price {
    font-size: 48px;
    color: var(--green-2)
}
.price__table-list {
    font-family: var(--ff-roboto);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    color: var(--gray-2);
    line-height: 50px;
    margin-bottom: var(--space-0_75);
}
@media screen and (min-width: 800px){
    .price__tables {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
}
@media screen and (min-width: 1300px) {
    .price .container {
        flex-direction: row;
        gap: 1rem;
    }
    .price__description {
       text-align: left;
    }
    .price__table {
        width: 400px;
    }
}

/* Cta */
.cta {
    padding-top: var(--space-3);
    padding-bottom: var(--space-1_5);
    background: url('../images/cta-background.svg') no-repeat top / cover;
}
.cta .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
@media screen and (min-width: 1300px) {
    .cta .container {
        flex-direction: row;
    }
}

/* Fun facts */
.fun-facts {
    padding-top: var(--space-2);
    padding-bottom: var(--space-2);
    background: url('../images/fun-facts-background.svg') no-repeat top / cover;
}
.fun-facts__descritpion {
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: var(--space-1);
}
.fun-facts__numbers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.8rem;
    /* flex-direction: column; */
}
.fun-facts__number {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 1rem; */
    margin-bottom: var(--space-0_5);
}
.fun-facts__counter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    margin-bottom: var(--space-0_5);
    border-radius: 50%;
    background-color: var(--white);
    box-shadow: var(--box-shadow-celadon);
}
.counter,
.counter + span{
    font-family: var(--ff-rubik);
    font-size: 38px;
}
.fun-facts__number > span {
    font-family: var(--ff-rubik);
    font-size: 18px;
}
@media screen and (min-width: 700px) {
    .fun-facts__number:nth-child(even) {
        transform: translateY(40px);
    }
}
@media screen and (min-width: 1000px) {
    .fun-facts__numbers {
        gap: 3rem;
    }
}
@media screen and (min-width: 1300px) {
    .fun-facts__numbers {
        gap: 6rem;
    }
    .fun-facts__number {
        width: 200px;
        height: 200px;
    }
}