/* Page wrapper */
.page {
    /* opacity: 0; */
}
.page.loaded {
    opacity: 1;
    transition: opacity 1s ease 0.5s;
    /* transition: opacity 1s ease .4s; */
}

/* Loader */
.loader {
    z-index: 100;
}
.overlay {
    z-index: 99;
    transition: opacity 1s ease;
}
.loader,
.overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: var(--celadon-2);
    /* transition: opacity 0.3s ease 1s; */
}
.loader::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    margin-left: -25px;
    border-radius: 50%;
    border: 4px solid var(--celadon-1);
    border-top-color: var(--green-1);
    animation: loader 1s linear infinite;
} 
@keyframes loader {
    to {
        transform: rotate(360deg);
    }
}
.loader.loaded{
    opacity: 0;
    transition: opacity 1s ease;
}

/* Header */
.header {
    z-index: 200;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 150px;
    display: flex;
    justify-content: center;
    padding: 0 30px;
    transition: height 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
}
.header.scrolled {
    height: 90px;
    background-color: var(--white);
    box-shadow: var(--box-shadow-green);
}
.header.offset {
    transform: translateY(-200%);
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1720px;
}
.header__right {
    display: flex;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
.logo {
    font-family: var(--ff-readex);
    font-size: var(--fs-xxlg);
    transform: translateY(-6px);
}
.nav {
    display: flex;
    align-items: center;
    margin-right: 1.6rem;
}
.nav-link {
    font-family: var(--ff-rubik);
    font-weight: 400;
    font-size: var(--fs-sm);
    margin-left: 1.6rem;
}
@media screen and (max-width: 1140px) {
    .header {
        height: 100px;
    }
    .logo {
        z-index: 1;
        font-size: var(--fs-lg);
    }
    .header__right {
        position: absolute;
        top: 0;
        right: -100%;
        height: 100vh;
        width: 100%;
        background-color: var(--white);
        flex-direction: column;
        justify-content: center;
        transition: right 0.3s ease;
    }
    .menuActive .header__right {
        right: 0%;
    }
    .nav {
        flex-direction: column;
        line-height: 2.8;
        margin-bottom: var(--space-0_5);
    }
    .nav-link {
        font-size: var(--fs-sm);
        margin-left: 1.6rem;
    }
}
.menu-btn {
    position: absolute;
    top: 11px;
    right: 16px;
    display: none;
    cursor: pointer;
    z-index: 1;
    width: 60px;
    height: 60px;
    background-color: transparent;
}
.menu-btn:active {
    background-color: none;
}
.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    left: 18px;
    width: 24px;
    height: 2px;
    background: var(--green-2);
    border-radius: 8px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.hamburger-top {
    top: 22px;
}
.hamburger-middle {
    top: 29px;
}
.hamburger-bottom {
    bottom: 22px;
}
.menuActive .menu-btn{
    transform: rotate(-180deg);
    transition: transform 0.5s ease;
}
.menuActive .hamburger-top {
    transform: rotate(-45deg) translateY(5px) translateX(-5px);
}
.menuActive .hamburger-middle {
    opacity: 0;
}
.menuActive .hamburger-bottom {
    transform: rotate(45deg) translateY(-5px) translateX(-5px);
}
@media screen and (max-width: 1140px) {
    .menu-btn {
        display: block;
    }
}

/* Hero */
.hero {
    padding-top: var(--space-3);
    background: url('../images/backgrounds/hero.svg') no-repeat center / cover;
    background-color: var(--celadon-1);
}
.hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-1_5);
}
.hero__title {
    max-width: 350px;
}
.hero__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.hero__buttons svg{
    margin-right: 14px;
}
.hero__buttons a:nth-child(1) svg {
    margin-right: 22px;
}
.hero__buttons a:nth-child(2):hover svg path{
    fill: #fff;
}
.hero__images {
    display: flex;
    justify-content: center;
}
.hero__images img {
    box-shadow: var(--box-shadow-green);
}
.hero__images img:nth-child(1) {
    z-index: 2;
    width: 190px;
    height: 100%;
    transform: translateX(50px);
}
.hero__images img:nth-child(2) {
    z-index: 1;
    width: 210px;
    height: 100%;
    transform: translateX(-50px) translateY(50px);
}
.hero__images img:nth-child(3) {
    width: 240px;
    height: 100%;
    display: none;
}
@media screen and (min-width: 800px) {
    .hero__title {
        max-width: 600px;
    }
    .hero__images img:nth-child(1) {
        width: 220px;
        transform: translateX(50px) translateY(-25px);
    }
    .hero__images img:nth-child(2) {
        min-width: 320px;
        height: 100%;
        transform: translateX(-25px) translateY(55px);
    }
    .hero__images img:nth-child(3) {
        display: block;
        min-width: 220px;
        transform: translateX(-125px)
    }
}
@media screen and (min-width: 1140px) {
    .hero {
        height: 880px;
    }
    .hero .container {
        flex-direction: row;
    }
    .hero__title {
        max-width: 100%;
    }
    .hero__buttons {
        flex-direction: row;
    }
    .hero__images {
        width: 50%;
        transform: translateY(140px);
    }
    .hero__image img {
        max-height: 850px;
    }
    .hero__images img:nth-child(1) {
        width: 210px;
    }
}

/* Boxes */
.boxes {
    padding-top: var(--space-2_5);
}
.boxes .container {
    padding-bottom: var(--space-2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    border-bottom: 1px solid var(--green-3);
}
.box {
    display: flex;
    align-items: flex-start;
    gap: 1.6rem;
    max-width: 500px;
}
.box__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    border-radius: 8px;
    padding: 14px;
}
.box__icon.mobile {
    border-color: var(--orange-3);
}
.box__icon.megaphone {
    border-color: var(--green-3);
}
.box__icon.bell {
    border-color: var(--pink-3);
}
.box__icon img {
    width: 34px;
    height: 34px;
}
@media screen and (min-width: 1000px) {
    .boxes {
        padding-top: var(--space-3_5);
    }
    .boxes .container {
        flex-direction: row;
        align-items: flex-start;
        gap: 1rem;
    }
}

/* Advertisement */
.advertisement {
    margin-top: var(--space-2);
    padding-bottom: var(--space-2);
    background: url('../images/backgrounds/advertisement.svg') no-repeat;
}
.advertisement .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.advertisement__boxs {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: var(--space-2);
}
.advertisement__boxs-left, .advertisement__boxs-right {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.advertisement__description {
    text-align: center;
    max-width: 700px;
}
.advertisement__description .lead{
    margin-bottom: var(--space-0_75);
}
.advertisement__box {
    max-width: 330px;
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: var(--box-shadow-orange);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: var(--space-0_75);
    padding-bottom: var(--space-0_75);
}
.advertisement__box .icon{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--space-0_25);
}
.advertisement__box .icon img{
    width: 26px;
    height: 26px;
}
.advertisement__box.twitter .icon{
    background-color: var(--blue-2);
}
.advertisement__box.facebook .icon{
    background-color: var(--blue-1);
}
.advertisement__box.instagram .icon{
    background-color: var(--pink-2);
}
.advertisement__box span{
    line-height: 2.4;
}
.advertisement__box .title {
    color: var(--gray-1);
}
.advertisement__box.twitter span:nth-of-type(2),
.advertisement__box.twitter span:nth-of-type(3) {
    color: var(--blue-2);
}
.advertisement__box.twitter span:nth-of-type(2) {
    font-size: var(--fs-display-2);
}
.advertisement__box.twitter span:nth-of-type(3) {
    font-size: var(--fs-lg);
}
.advertisement__box.twitter span:nth-of-type(4) {
    font-family: var(--ff-roboto);
    font-size: var(--fs-sm);
    color: var(--gray-2);
}
.advertisement__box .graph{
    width: 80%;
    margin-top: var(--space-0_75);
}
@media screen and (min-width: 800px) {
    .advertisement__boxs {
        flex-direction: row;
        align-items: center;
    }
}
@media screen and (min-width: 1300px) {
    .advertisement .container {
        flex-direction: row;
        gap: 4rem;
    }
    .advertisement__boxs {
        margin-bottom: 0;
    }
    .advertisement__description {
        text-align: left;
        max-width: 550px;
    }
    .advertisement__description .lead{
        margin-bottom: var(--space-1);
    }
}

/* Screenshots */
.screenshots {
    background: url('../images/backgrounds/screenshots.svg') no-repeat bottom / cover;
    padding-top: var(--space-2);
    padding-bottom: var(--space-2);
}
.screenshots img{
    box-shadow: var(--box-shadow-orange);
}
@media screen and (min-width: 1000px) {
    #screenshots .splide__list {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .splide__slide {
        margin-right: 2rem;
    }
}

/* Features */
.features {
    padding-top: var(--space-2);
    padding-bottom: var(--space-2);
    background: url('../images/backgrounds/features.svg') no-repeat right;
}
.features .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}
.features__description {
    text-align: center;
    max-width: 700px;
}
.features__description .lead {
    margin-bottom: var(--space-0_75);
}
.features__boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.features__boxes-left, .features__boxes-right {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.features__box {
    max-width: 330px;
    padding: 3rem 2rem;
    border-radius: 8px;
    background-color: var(--white);
    box-shadow: var(--box-shadow-green);
}
.features__box img{
    width: 68px;
    height: 68px;
}
.features__box-title{
    display: block;
    color: var(--gray-1);
    font-family: var(--ff-rubik);
    font-size: 20px;
    line-height: 1.4;
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
}
@media screen and (min-width: 800px) {
    .features__boxes {
        flex-direction: row;
    }
    .features__boxes-left {
        transform: translateY(50px);
    }
}
@media screen and (min-width: 1300px) {
    .features .container {
        flex-direction: row;
    }
    .features__description {
        text-align: left;
        max-width: 550px;
    }
    .features__description .lead {
        margin-bottom: var(--space-1);
    }
}

/* Testimonials */
.testimonial {
    max-width: 400px;
    margin-bottom: 1rem;
    padding: 3rem 2rem;
    background-color: var(--white);
    box-shadow: var(--box-shadow-pink);
    border-radius: 8px;
}
.user {
    display: flex;
    align-items: center;
    margin-bottom: var(--space-0_5);
}
.user img{
    width: 72px;
    height: 72px;
    margin-right: 1rem;
    border-radius: 50%;
}
.user-name {
    display: block;
    font-family: var(--ff-rubik);
    font-weight: var(--fw-400);
    color: var(--gray-1);
    font-size: 20px;
}
.user-role {
    font-family: var(--ff-roboto);
    font-size: 16px;
    color: var(--pink-2);
}
.testimonials {
    background: url('../images/backgrounds/testimionals.svg') no-repeat center / cover;
    padding-top: var(--space-1_5);
    padding-bottom: var(--space-1_5);
}
.grid {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    column-gap: 2rem;
}
.testimonials__description {
    margin-bottom: var(--space-1);
}
.testimonials__column-1,
.testimonials__column-2,
.testimonials__column-3,
.testimonials__column-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
@media screen and (min-width: 800px) {
    .testimonials__column-1,
    .testimonials__column-2,
    .testimonials__column-3,
    .testimonials__column-4 {
        flex-direction: row;
        gap: 1rem;
    }
    .testimonial {
        min-width: 300px;
        max-width: 800px;
    }
}
@media screen and (min-width: 1420px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }
    .testimonials__description {
        margin-left: var(--space-1_5);
        text-align: left;
        grid-column: 3 / span 2;
    }
    .testimonials__column-1,
    .testimonials__column-2,
    .testimonials__column-3,
    .testimonials__column-4 {
        flex-direction: column;
    }
    .testimonials__column-1 {
        transform: translateY(-200px);
    }
    .testimonials__column-2 {
        transform: translateY(-100px);
    }
    .testimonial {
        max-width: 330px;
    }
}

/* Price */
.price {
    padding-top: var(--space-1_5);
    padding-bottom: var(--space-1_5);
    background: url('../images/backgrounds/price.svg') no-repeat right;
}
.price .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.price__description {
    margin-bottom: var(--space-1_5);
    max-width: 700px;
}
.price__switch {
    text-align: center;
    margin-top: var(--space-1);
}
.price__switch span{
    font-family: var(--ff-rubik);
    font-size: var(--fs-md);
    color: var(--gray-1);
}
.price__switch span::selection {
    background-color: none;
}
label {
    cursor: pointer;
    position: relative;
    margin-top: var(--space-1);
    margin-left: 2rem;
    margin-right: 3.4rem;
}
.price-switch-checkbox{
    position: relative;
    visibility: hidden;
}
.price-switch-checkbox + span::before {
    content: '';
    position: absolute;
    top: -16px;
    left: 50%;
    transform: translateX(-40%);
    width: 88px;
    height: 48px;
    background-color: var(--celadon-1);
    border-radius: 60px;
    transition: all 0.2s ease;
}
.price-switch-checkbox:checked + span:before {
    background-color: var(--celadon-2);
}
.price-switch-checkbox + span::after {
    content: '';
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translate(-75%);
    width: 40px;
    height: 40px;
    background-color: var(--white);
    border-radius: 50%;
    transition: all 0.2s ease;
}
.price-switch-checkbox:checked + span:after {
    transform: translateX(20%);
}
.price__table {
    font-family: var(--ff-rubik);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 340px;
    margin: 0 auto;
    margin-bottom: var(--space-1);
    padding-top: var(--space-1);
    padding-bottom: var(--space-1);
    box-shadow: var(--box-shadow-orange);
    text-align: center;
    background-color: var(--white);
}
.price__table-title {
    font-size: 24px;
    color: var(--gray-1);
}
.price__table-price {
    font-weight: var(--fw-500);
    margin-bottom: var(--space-0_25);
}
.price__table-premium {
    z-index: 1;
}
.price__table-premium-price {
    font-size: 70px;
    color: var(--orange-2)
}
.price__table-free-price {
    font-size: 48px;
    color: var(--green-2)
}
.price__table-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: var(--space-0_75);
}
@media screen and (min-width: 800px){
    .price__tables {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .price__table-premium {
        transform: translateX(75px);
    }
    .price__table-free {
        transform: translateX(-75px);
    }
}
@media screen and (min-width: 1300px) {
    .price .container {
        flex-direction: row;
    }
    .price__switch {
        text-align: left;
    }
    .price__tables {
        transform: translateX(75px);
    }
    .price__table {
        width: 400px;
    }
}

/* Cta */
.cta {
    padding-top: var(--space-3);
    padding-bottom: var(--space-1_5);
    background: url('../images/backgrounds/cta.svg') no-repeat top / cover;
}
.cta .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
@media screen and (min-width: 1300px) {
    .cta {
        padding-bottom: var(--space-2);
    }
    .cta .container {
        flex-direction: row;
    }
}

/* Fun facts */
.fun-facts {
    margin-top: var(--space-3);
    margin-bottom: var(--space-3);
    background: url('../images/backgrounds/fun-facts.svg') no-repeat center / contain;
}
.fun-facts__descritpion {
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: var(--space-1);
}
.fun-facts__numbers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.8rem;
}
.fun-facts__number {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: var(--space-0_5);
}
.fun-facts__counter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    margin-bottom: var(--space-0_5);
    border-radius: 50%;
    background-color: var(--white);
    box-shadow: var(--box-shadow-celadon);
}
.counter,
.counter + span{
    font-family: var(--ff-rubik);
    font-size: 38px;
}
.fun-facts__number > span {
    font-family: var(--ff-rubik);
    font-size: 18px;
}
@media screen and (min-width: 700px) {
    .fun-facts__number:nth-child(even) {
        transform: translateY(40px);
    }
}
@media screen and (min-width: 1000px) {
    .fun-facts__numbers {
        gap: 3rem;
    }
}
@media screen and (min-width: 1300px) {
    .fun-facts__numbers {
        gap: 6rem;
    }
    .fun-facts__number {
        width: 200px;
        height: 200px;
    }
}

/* Faq */
.faq {
    background: url('../images/backgrounds/faq.svg') no-repeat top / contain;
    padding-bottom: var(--space-2);
}
.faq .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}
.faq__image img {
    width: 330px;
    height: 540px;
}
.faq__description {
    max-width: 600px;
    margin-bottom: var(--space-1);
}
.accordion {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
}
.accordion__container {
    margin-bottom: var(--space-0_5);
}
.accordion__text {
    display: none;
    background-color: var(--white);
    box-shadow: var(--box-shadow-orange);
    border-radius: 0px 0px 8px 8px;
    padding: 2rem 1rem;
}
.accordion__button {
    position: relative;   
}
.accordion__button::before,
.accordion__button::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 22px;
    transform: translateY(-50%);
    width: 14px;
    height: 2px;
    background-color: var(--gray-1);
    border-radius: 8px;
}
.accordion__button::after {
    right: 28px;
    width: 2px;
    height: 14px;
}
.accordion__button--active {
    border-radius: 8px 8px 0 0;
    background-color: var(--orange-2);
    color: var(--white);
}
.accordion__button--active.accordion__button::before{
    background-color: var(--white);
}
.accordion__button--active.accordion__button::after{
    background-color: transparent;
}
.accordion__button--active + .accordion__text {
    display: block;
}
@media screen and (min-width: 1300px) {
    .faq {
        background-position: left;
    }
    .faq__right {
        transform: translateY(20px);
    }
    .faq .container {
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }
    .faq__image img {
        width: 480px;
        height: auto;
    }
    .accordion {
        margin-left: 0;
    }
}

/* Newsletter */
.newsletter {
    background: url('../images/backgrounds/newsletter.svg') no-repeat bottom / cover;
    padding-top: var(--space-1_5);
    padding-bottom: var(--space-2);
}
.newsletter h2 {
    line-height: 1;
    margin-right: auto;
}
.newsletter__form {
    display: flex;
    flex-direction: column;
}
input[type="email"],
input[type="text"],
textarea {
    padding: 1rem;
    border-radius: 8px;
    outline: none;
    border: 1px solid transparent;
    color: var(--gray-1);
    font-family: var(--ff-roboto);
    font-size: var(--fs-sm);
    margin-bottom: 1rem;
    width: 100%;
}
input[type="email"],
input[type="text"],
textarea {
    border-color: var(--green-3);
}
input[type="email"]:focus,
input[type="text"]:focus,
textarea:focus {
    border-color: var(--green-3);
}
textarea::placeholder {
    color: var(--gray-1);
}
input[type="submit"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.newsletter input[type="radio"],
.contact input[type="radio"] {
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    margin: 0;
    border-radius: 50%;
    background-color: #fff;
    transform: translateY(20px);
}
.newsletter input[type="radio"]::before,
.contact input[type="radio"]::before {
    content: '';
    position: absolute;
    display: none;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}
.newsletter input[type="radio"]::before {
    background-color: var(--pink-2);
}
.contact input[type="radio"]::before {
    background-color: var(--green-2);
}
.contact input[type="radio"] {
    border: 1px solid var(--green-3);
}
.newsletter input[type="radio"]:checked::before,
.contact input[type="radio"]:checked::before {
    display: block;
}
input[type="radio"]:focus {
    outline: none;
    border: 1px solid var(--green-3);
}
.newsletter-radio label,
.newsletter-radio a {
    color: var(--white);
}
.newsletter-radio a,
.contact-radio a {
    text-decoration: underline;
}
.contact-radio label,
.contact-radio a {
    color: var(--gray-2);
}
@media screen and (min-width: 1000px) {
    .email {
        display: flex;
    }
    .newsletter input[type="submit"] {
        width: 280px;
        margin-left: 1rem;
        margin-bottom: 0;
    }
    .newsletter input[type="email"] {
        margin-bottom: 0;
    }
}
@media screen and (min-width: 1300px) {
    .newsletter .container {
        display: flex;
    }
    .newsletter input[type="email"] {
        width: 580px;
    }
}

/* Contact */
.contact {
    background: url('../images/backgrounds/contact.svg') no-repeat right / contain;
    padding-top: var(--space-2);
    padding-bottom: var(--space-2);
}
.contact .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem
}
.contact h4 {
    margin-bottom: var(--space-1);
}
.contact__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-details {
    display: flex;
    flex-direction: column;
    margin-top: var(--space-1);
    margin-bottom: var(--space-1);
}
.details {
    display: flex;
    margin-bottom: var(--space-0_5);
}
.details-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    height: 60px;
    margin-right: var(--space-0_5);
    border: 1px solid var(--green-3);
    border-radius: 8px;
}
.details img {
    width: 36px;
    height: 36px;
}
.social-icons {
    display: flex;
}
.social-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    margin: 0.4rem;
    border-radius: 8px;
}
.social-icons a:hover {
    opacity: .85;
}
.social-icons img {
    width: 26px;
    height: 26px;
}
.social-icons .twitter {
    background-color: var(--blue-2);
}
.social-icons .facebook {
    background-color: var(--blue-1);
}
.social-icons .instagram {
    background-color: var(--pink-2);
}
.social-icons .linkedin {
    background-color: var(--turquise-1);
}
.form {
    max-width: 690px;
    background-color: var(--white);
    box-shadow: var(--box-shadow-green);
    border-radius: 8px;
    padding: 3rem 2rem;
}
textarea {
    color: var(--gray-3);
    resize: none;
}
.contact-radio {
    margin-bottom: var(--space-1);
}
@media screen and (min-width:1300px){
    .contact .container {
        flex-direction: row;
    }
    .contact__description {
        align-items: flex-start;
    }
}

/* Download */
.download {
    background: url('../images/backgrounds/download.svg') no-repeat center / contain;
    padding-top: var(--space-1_5);
    padding-bottom: var(--space-1_5);
}
.download .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.download__buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: var(--space-1);
}
.download__buttons .btn-outline{
    background-color: var(--white);
    color: var(--pink-1)
}
.download__buttons svg{
    width: 38px;
    height: 44px;
    margin-right: var(--space-0_25);
}
.download__buttons p{
    font-family: var(--ff-roboto);
    font-size: var(--fs-xsm);
    line-height: 1.2;
}
.download__buttons span{
    font-family: var(--ff-rubik);
    font-size: var(--fs-md);
}
@media screen and (min-width:1000px){
    .download__buttons {
        flex-direction: row;
    }
}

/* Footer */
.footer {
    padding-top: var(--space-1);
    padding-bottom: var(--space-1);
    text-align: center;
}
.footer span {
    font-family: var(--ff-roboto);
    font-size: var(--fs-sm);
    color: var(--gray-2);
}