.container {
    width: 100%;
    max-width: 1420px;
    margin: 0 auto;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}
@media screen and (min-width: 1000px) {
    .container {
        padding-left: 40px;
        padding-right: 40px;
    }
}

/* Header */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--ff-rubik);
    font-weight: var(--fw-400);
}
h1 {
    /* desktop */
    font-size: 48px;
    line-height: 60px;

    /* font-size: clamp(32px, 7vw, 48px); */
    font-size: 32px;
    /* line-height: clamp(40px, 9vw, 60px); */
    line-height: 40px;
    text-align: center;
    color: var(--green-1);

    /* width: 350px; */
    max-width: 350px;
    
    /* margin-top: 8px; */
    margin-top: var(--space-0_25);
    margin-bottom: var(--space-0_75);
    /* margin-bottom: 28px; */
    /* background: cyan; */
}
h2 {
    font-size: 40px;
    line-height: 52px;
    color: var(--gray-1);
}
h3 {
    font-size: 32px;
    line-height: 40px;
    color: var(--gray-1);
}
h4 {
    font-size: 24px;
    line-height: 32px;
    color: var(--gray-1);
}
h5 {
    font-size: 20px;
    line-height: 24px;
}
h6 {
    font-size: 18px;
    line-height: 24px;
}
h6.medium {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}
.subtitle {
    text-align: center;
    /* desktop */
    font-size: 20px;

    font-size: 16px;
    color: var(--green-2);
}
@media screen and (min-width: 1000px) {
    h1 {
        text-align: left;
        /* desktop */
        /* font-size: clamp(22px, 4vw, 48px); */
        font-size: 48px;
        line-height: 60px;
        max-width: none;
    }
    h3 {
        font-size: 40px;
    }
    .subtitle {
        text-align: left;
        /* desktop */
        font-size: 20px;
    }
}
/* Paragraph */
.subtitle, .lead, .lead-2, .lead-list, .lead-2-list, .lead-2-underline {
    font-family: var(--ff-roboto);
    font-weight: var(--fw-400);
}
.lead {
    font-size: 18px;
    line-height: 28px;
    color: var(--gray-2);
}
.lead-2 {
    font-size: 16px;
    line-height: 24px;
}
.lead-list {
    font-size: 20px;
    line-height: 50px;
}
.lead-2-list {
    font-size: 16px;
    line-height: 40px;
}
.lead-2-underline {
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
}

/* Buttons */
.btn {
    display: inline-block;
    cursor: pointer;
    color: var(--white);
    border: none;
    padding: 14px 26px;
    border-radius: 8px;
    font-family: var(--ff-rubik);
    font-weight: var(--fw-500);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 227px;
    /* margin: 0 auto; */
}
.btn-header {
    padding: 12px 28px;
    font-size: 16px;
    margin-left: 60px;
}
.btn-outline {
    border: 1px var(--green-1) solid;
}
.btn-green {
    background-color: var(--green-2);
}
.btn-celadon-1 {
    background-color: var(--celadon-1);
    color: var(--green-1);
}
.btn-orange {
    background-color: var(--orange-2);
}
.btn-pink {
    background-color: var(--pink-2);
}

@media screen and (hover: hover){
    .btn-green:hover {
        background-color: var(--green-1);
    }
    .btn-orange:hover {
        background-color: var(--orange-1);
    }
    .btn-pink:hover {
        background-color: var(--pink-1);
    }
}