.container {
    width: 100%;
    max-width: 1420px;
    margin: 0 auto;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}
@media screen and (min-width: 1000px) {
    .container {
        padding-left: 40px;
        padding-right: 40px;
    }
}

/* Header */
h1,
h2,
h3,
h4 {
    font-family: var(--ff-rubik);
    font-weight: var(--fw-400);
    margin-left: auto;
    margin-right: auto;
}
h1,
h2,
h3 {
    text-align: center;
    margin-bottom: var(--space-1);
}
h1 {
    color: var(--green-1);
    font-size: 32px;
    line-height: 40px;
    max-width: 350px;
    margin-top: var(--space-0_25);
}
h2,
h3,
h4 {
    color: var(--gray-1);
}
h2 {
    font-size: 32px;
    line-height: 40px;
}
.cta h2 {
    color: var(--white);
}
h3 {
    font-size: 30px;
    line-height: 40px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}
h4 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: var(--space-0_25);
}
/* h5 {
    font-size: 20px;
    line-height: 24px;
}
h6 {
    font-size: 18px;
    line-height: 24px;
}
h6.medium {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
} */
@media screen and (min-width: 1000px) {
    h1 {
        text-align: left;
        font-size: 48px;
        line-height: 60px;
        max-width: none;
    }
    h3 {
        font-size: 40px;
        line-height: 52px;
        max-width: 700px;
    }
}
@media screen and (min-width: 1300px) {
    h2 {
        text-align: left;
        font-size: 40px;
        line-height: 52px;
        max-width: 730px;
    }
    .cta h2 {
        margin-bottom: 0;
        margin-left: 0;
    }
    h4:not(.box h4) {
        margin-bottom: var(--space-0_75);
    }
}
/* Paragraph */
.subtitle {
    text-align: center;
    font-size: 16px;
    color: var(--green-2);
}
.subtitle,
.lead,
.lead-align-left,
.text-small,
.lead-list {
    font-family: var(--ff-roboto);
    font-weight: var(--fw-400);
}
.lead {
    text-align: center;
}
.text-small {
    font-size: 16px;
    color: var(--gray-2);
    line-height: 24px;
}
.lead,
.lead-align-left {
    font-size: 18px;
    line-height: 28px;
    color: var(--gray-2);
}
.lead-align-left {
    font-size: 16px;
    line-height: 28px;
    color: var(--gray-2);
}
@media screen and (min-width: 1000px) {
    .subtitle {
        text-align: left;
        font-size: 20px;
    }
}
@media screen and (min-width: 1300px) {
    .lead {
        text-align: left;
    }
}
.lead-list {
    color: var(--gray-2);
    font-size: 20px;
    line-height: 50px;
}

/* Buttons */
button {
    display: block;
}
button,
.btn {
    cursor: pointer;
    outline: none;
    border: none;
    font-family: var(--ff-rubik);
    font-weight: var(--fw-500);
    border-radius: 8px;
}
.accordion__button {
    background-color: transparent;
    border: 1px solid var(--orange-2);
    width: 100%;
    text-align: left;
    padding: 10px 30px;
    font-size: 18px;
    color: var(--gray-1);
}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 14px 26px; */
    padding-top: 14px;
    padding-bottom: 14px;

    font-size: 20px;
    color: var(--white);

    width: 227px;
    margin: 0 auto;
}
.btn-header {
    /* padding: 12px 28px; */
    font-size: 16px;
    margin-left: 60px;
}
.btn-outline {
    outline: 1px solid;
}
.btn-green {
    background-color: var(--green-2);
}
.btn-outline-celadon {
    background-color: var(--celadon-1);
    color: var(--green-1);
}
.btn-orange {
    background-color: var(--orange-2);
}
.btn-pink {
    background-color: var(--pink-2);
}
@media screen and (hover: hover){
    .btn-outline:hover,
    .btn-outline:focus {
        outline: none;
    }
    .btn-green:hover,
    .btn-green:focus {
        background-color: var(--green-1);
    }
    .btn-orange:hover,
    .btn-orange:focus {
        background-color: var(--orange-1);
    }
    .btn-pink:hover,
    .btn-pink:focus {
        background-color: var(--pink-1);
    }
    .btn-outline-celadon:hover,
    .btn-outline-celadon:focus {
        background-color: var(--green-2);
        color: var(--white);
    }
}
@media screen and (min-width: 1000px) {
    .hero .btn-green, .btn-pink, .btn-outline-celadon {
        margin: 0;
    }
}
@media screen and (min-width: 1300px) {
    .btn-orange, .btn-green {
        margin: 0;
    }
}